body{
    main{
        display: grid;
        grid-row: 5;
        grid-template-columns: auto auto auto auto auto;
        width: 80%;
        margin: auto;
        button{
            width: 200px;
            height: 200px;
            padding: 0;
            margin: 10px;
            border: 1px solid black;
            overflow: hidden;
        }
        img{
            display: none;
            height: 200px;
            width: 200px;
            margin: 0;
            padding: 0;
        }
        .is-clicked{
            img{
                display: block;
            }
        }
        .is-correct{
            img{
                display: block;
            }
        }
    }
}